<div class="container-fluid">
    <div class="search-container">
        <div class="form-group">
            <label for="">{{text}}</label>
            <div class="d-flex row">

                <div class="col-md-6 col-sm-6 col-lg-6">
                    <label for="search">Pesquisar</label>
                    <div class="d-flex flex-row">
                        <input type="text" name="search" class="form-control mr-2" [formControl]="searchControl">
                        <button 
                            class="btn btn-dark" 
                            [disabled]="!searchControl.valid"
                            (click)="doSearch()"
                        >Pesquisar</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Pesquisar com <i>autocomplete</i></label>
                        <jv-cities-typeahead [formControl]="searchControlWithAutocomplete"></jv-cities-typeahead>
                    </div>
                </div>
            </div>
        </div>
    </div>


   

    <jv-loader *ngIf="loading$ | async"></jv-loader>

    <div *ngIf="!(loading$ | async) && !(error$ | async) && !!(cityWeather)">
        <jv-current-weather 
            [cityWeather]="cityWeather"
            (toggleBookmark)="onToggleBookmark()"
            [isFavorite]="isCurrentFavorite$ | async"
        >
        </jv-current-weather>
    </div>

    <div *ngIf="!(loading$ | async ) && error$ | async ">
        <a>Tentar Novamente</a>
    </div>
</div>